background = {{base16.base00.default.hex}}
foreground = {{base16.base05.default.hex | set_lightness: 82.0}}
cursor-color = {{base16.base05.default.hex | set_lightness: 82.0}}
selection-background = {{base16.base03.default.hex}}
selection-foreground = {{base16.base05.default.hex | set_lightness: 82.0}}
palette = 0={{base16.base00.default.hex}}
palette = 1={{base16.base08.default.hex | set_lightness: 65.0}}
palette = 2={{base16.base0b.default.hex | set_lightness: 65.0}}
palette = 3={{base16.base0a.default.hex | set_lightness: 65.0}}
palette = 4={{base16.base0d.default.hex | set_lightness: 65.0}}
palette = 5={{base16.base0e.default.hex | set_lightness: 65.0}}
palette = 6={{base16.base0c.default.hex | set_lightness: 65.0}}
palette = 7={{base16.base05.default.hex | set_lightness: 75.0}}
palette = 8={{base16.base03.default.hex | set_lightness: 45.0}}
palette = 9={{base16.base08.default.hex | set_lightness: 80.0}}
palette = 10={{base16.base0b.default.hex | set_lightness: 80.0}}
palette = 11={{base16.base0a.default.hex | set_lightness: 80.0}}
palette = 12={{base16.base0d.default.hex | set_lightness: 80.0}}
palette = 13={{base16.base0e.default.hex | set_lightness: 80.0}}
palette = 14={{base16.base0c.default.hex | set_lightness: 80.0}}
palette = 15={{base16.base07.default.hex | set_lightness: 90.0}}

